button {
  border: 0;
  background-color: var(--clr-neutral-very-dark-cyan);
  padding: 0.5rem 2rem;
  font-size: var(--fs-form);
  color: var(--clr-neutral-white);
  font-family: var(--font-family);
  border-radius: 0.35rem;
  cursor: pointer;
}


.active {
  background-color: var(--clr-primary-cyan);
  color: var(--clr-neutral-very-dark-cyan);
}

button:hover{
  background-color: var(--clr-hover);
}

button:focus,
button:focus-visible{
  outline: none;
  border: 3px solid var(--clr-primary-cyan);
}