@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root{
    --clr-pri-sft-red: hsl(7, 99%, 70%);
    --clr-pri-yellow: hsl(51, 100%, 49%);
    --clr-pri-graphic-design: hsl(167, 40%, 24%);
    --clr-pri-photography: hsl(198, 62%, 26%);
    --clr-pri-footer-txt: hsl(168, 34%, 41%);
    --clr-pri-footer: hsl(168, 50%, 69%);
    --clr-neu-vd-des-blue: hsl(212, 27%, 19%);
    --clr-neu-d-gray-blue: hsl(232, 10%, 55%);
    --clr-neu-gray-blue: hsl(210, 4%, 67%);
    --clr-neu-white: hsl(0, 0%, 100%);
    --fs-body: 18px;
    --ff-para: 'Barlow', sans-serif;
    --ff-headings: 'Fraunces', serif;
    --fw-700: 700;
    --fw-900: 900;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-size: var(--fs-body);
    font-family: var(--ff-para);
}

img{
    width: 100%;
    max-width: 100%;
}

/* header starts */

header{
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 0;
}

header nav{
    position: absolute;
    display: flex;
    padding: 2rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 1;
}

header nav .nav-list{
 display: none;
}

header nav .nav-list li a{
    text-decoration: none;
    color: var(--clr-neu-d-gray-blue);
}

.logo{
    width: 8rem;
}

.open-menu{
    width: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}

.header-pic{
    position: absolute;
    text-align: center;
    top: 10rem;
    line-height: 1;
}

h1{
    font-family: var(--ff-headings);
    font-weight: var(--fw-900);
    color: var(--clr-neu-white);
    font-size: 3rem;
    text-transform: uppercase;
}

.header-pic>img{
    margin-top: 3rem;
    width: 1.75rem;
}

nav.open .nav-list{
    position: absolute;
    z-index: 999;
    top: 6rem;
    left: 1rem;
    right: 1rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--clr-neu-white);
    list-style: none;
    align-items: center;
    padding: 2rem;
}

nav.open .nav-list li:last-of-type{
    background-color: var(--clr-pri-yellow);
    text-transform: uppercase;
    font-family: var(--ff-headings);
    font-weight: var(--fw-700);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    width: fit-content;
}

nav.open .nav-list li:last-of-type a{
    color: var(--clr-neu-vd-des-blue);
}


/* header ends  */

/* transform section starts */

.content{
    padding: 3rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.content h2{
    font-family: var(--ff-headings);
    font-size: 2rem;
    color: var(--clr-neu-vd-des-blue);
}

.content p{
    font-family: var(--ff-para);
    color: var(--clr-neu-d-gray-blue);
}

.learn-more{
    border: 0;
    text-transform: uppercase;
    background-color: transparent;
    font-family: var(--ff-headings);
    color: var(--clr-neu-vd-des-blue);
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.learn-more::after{
    content: " ";
    position: absolute;
    background-color: hsl(51, 100%, 49%, .2);
    bottom: -1px;
    left: -4.5px;
    width: 6.5rem;
    height: .375rem;
    z-index: -1;
    border-radius: 1rem;
}

.learn-more:hover::after{
    background-color: var(--clr-pri-yellow);
}

/* transform section ends  */

/* stand out section starts  */

.stand-out .learn-more::after{
    background-color: hsl(7, 99%, 70%, .3);
}

.stand-out .learn-more:hover::after{
    background-color: var(--clr-pri-sft-red);
}

/* stand out section ends  */

/* graphic design section starts  */

.graphic-design{
    position: relative;
    display: block;
    line-height: 0;
}

.text-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: var(--clr-pri-graphic-design);
    margin: 0 1rem;
    margin-bottom: 5rem;
}

.text-overlay h2{
    font-family: var(--ff-headings);
    font-weight: var(--fw-700);
    margin-bottom: 1.5rem;
}

.text-overlay p{
    font-family: var(--ff-para);
    line-height: 1.75rem;
}


/* graphic design section ends  */

/* photography section starts  */

.photography{
    position: relative;
    display: block;
    line-height: 0;
}

.photography .text-overlay{
    color: var(--clr-pri-photography);
}

/* photography section ends  */

/* testimonial section starts */
.testimonials{
    padding: 3rem 1.5rem;
}
.testimonials h3{
    text-transform: uppercase;
    color: var(--clr-neu-gray-blue);
    font-family: var(--ff-headings);
    letter-spacing: .125rem;
    text-align: center;
}

.testimonial{
    margin: 3rem 0;
    text-align: center;
}

.testimonial img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.testimonial p{
    line-height: 1.75rem;
    font-family: var(--ff-para);
    color: var(--clr-neu-d-gray-blue);
    margin: 1.25rem 0;
}

.user-name{
    color: var(--clr-neu-vd-des-blue);
    font-family: var(--ff-headings);
    font-weight: var(--fw-700);
}

.role{
    font-size: .75rem;
    margin: 1rem 0;
    color: var(--clr-neu-gray-blue);
}

/* testimonial section ends  */

/* image collection section starts  */

.image-collection{
    line-height: 0;
}
.image-collection div{
    display: flex;
}

/* image collection section ends  */

/* footer starts  */

footer{
    background-color: var(--clr-pri-footer);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 2rem;
   padding: 3rem 0;
   width: 100%;
}

footer .logo{
    color: var(--clr-pri-graphic-design);
    font-size: 2rem;
    font-family: var(--ff-para);
    font-weight: 900;
}

footer nav .nav-list{
    list-style: none;
    display: flex;
    gap: 3rem;
    font-family: var(--ff-para);
}

footer nav .nav-list li a{
    text-decoration: none;
    color: var(--clr-pri-footer-txt);
}

footer nav .nav-list li a:hover{
    color: var(--clr-neu-white);
}

.social-links{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
}

.social-links a i{
    color: var(--clr-pri-footer-txt);
    font-size: 1.25rem;
}

.social-links a:hover{
    color: var(--clr-neu-white);
}

/* footer ends  */
