@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
:root{
    /* Theme1  */
    --clr-t1-bg: hsl(222, 26%, 31%);
    --clr-t1-tokp-bg: hsl(223, 31%, 20%);
    --clr-t1-scr-bg: hsl(224, 36%, 15%);
    --clr-t1-key-bg: hsl(225, 21%, 49%);
    --clr-t1-key-sha: hsl(224, 28%, 35%);
    --clr-t1-key-tok-bg: hsl(6, 63%, 50%);
    --clr-t1-key-tok-sha: hsl(6, 70%, 34%);
    --clr-t1-key-bg-pri: hsl(30, 25%, 89%);
    --clr-t1-key-bg-pri-sha: hsl(28, 16%, 65%);
    --clr-t1-text: hsl(221, 14%, 31%);
    --clr-t1-txt-hvr: hsl(30, 25%, 99%);
    --clr-t1-key-hvr: hsl(224, 36%, 70%);
    --clr-t1-equal-tog-hvr: hsl(6, 63%, 60%);

    /* Theme 2 */
    --clr-t2-bg: hsl(0, 0%, 90%);
    --clr-t2-tokp-bg: hsl(0, 5%, 81%);
    --clr-t2-scr-bg: hsl(0, 0%, 93%);
    --clr-t2-key-bg: hsl(185, 42%, 37%);
    --clr-t2-key-sha: hsl(185, 58%, 25%);
    --clr-t2-key-tok-bg: hsl(25, 98%, 40%);
    --clr-t2-key-tok-sha: hsl(25, 99%, 27%);
    --clr-t2-key-bg-pri: hsl(45, 7%, 89%);
    --clr-t2-key-bg-pri-sha: hsl(35, 11%, 61%);
    --clr-t2-text: hsl(60, 10%, 19%);
    /* TODO  */
    --clr-t2-txt-hvr: hsl(30, 25%, 99%);
    --clr-t2-key-hvr: hsl(185, 42%, 57%);
    --clr-t2-equal-tog-hvr: hsl(25, 98%, 60%);

    /* Theme 3 */
    --clr-t3-bg: hsl(268, 75%, 9%);
    --clr-t3-tokp-bg: hsl(268, 71%, 12%);
    --clr-t3-scr-bg: hsl(268, 71%, 12%);
    --clr-t3-key-bg: hsl(281, 89%, 26%);
    --clr-t3-key-sha: hsl(285, 91%, 52%);
    --clr-t3-key-tok-bg: hsl(176, 100%, 44%);
    --clr-t3-key-tok-sha: hsl(177, 92%, 70%);
    --clr-t3-key-bg-pri: hsl(268, 47%, 21%);
    --clr-t3-key-bg-pri-sha: hsl(290, 70%, 36%);
    --clr-t3-text: hsl(52, 100%, 62%);
    /* TODO  */
    --clr-t3-txt-hvr: hsl(281, 89%, 36%);
    --clr-t3-key-hvr: hsl(285, 90%, 42%);
    --clr-t3-equal-tog-hvr: hsl(176, 100%, 84%);



    --clr-white: hsl(0, 0%, 100%);
    --ff: 'League Spartan', sans-serif;
    --numbers-fs: 32px;
}

*,*::after, *::before{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: var(--ff);
    margin: 2rem;
    overflow: hidden;
    --max-width: 30rem;
    --brd-rad: .5rem;
    --pad-lr: 1rem;
    --pad-tb: 1.5rem;

    --bg: var(--clr-t1-bg);
    --scr-bg: var(--clr-t1-scr-bg);
    --key-equal: var(--clr-t1-key-tok-bg);
    --key-equal-sha: var(--clr-t1-key-tok-sha);
    --keypad-bg: var(--clr-t1-tokp-bg);
    --num-txt: var(--clr-t1-text);
    --key-bg-pri: var(--clr-t1-key-bg-pri);
    --key-bg-pri-sha: var(--clr-t1-key-bg-pri-sha);
    --key-del-reset: var(--clr-t1-key-bg);
    --key-del-reset-sha: var(--clr-t1-key-sha);
    --key-pri-hvr: var(--clr-t1-txt-hvr);
    --key-del-reset-hvr: var(--clr-t1-key-hvr);
    --key-equal-toggle-hvr: var(--clr-t1-equal-tog-hvr);
    --toogle-bg: var(--clr-t1-tokp-bg);
    --toogle-checked: var(--clr-t1-key-tok-bg);
    --header-txt-clr: var(--clr-white);
    --screen-txt-clr: var(--clr-white);
    --clr-equal: var(--clr-white);

    background-color: var(--bg);
}

.theme2-clr{
    --bg: var(--clr-t2-bg);
    --scr-bg: var(--clr-t2-scr-bg);
    --key-equal: var(--clr-t2-key-tok-bg);
    --key-equal-sha: var(--clr-t2-key-tok-sha);
    --keypad-bg: var(--clr-t2-tokp-bg);
    --num-txt: var(--clr-t2-text);
    --key-bg-pri: var(--clr-t2-key-bg-pri);
    --key-bg-pri-sha: var(--clr-t2-key-bg-pri-sha);
    --key-del-reset: var(--clr-t2-key-bg);
    --key-del-reset-sha: var(--clr-t2-key-sha);
    --key-pri-hvr: var(--clr-t2-txt-hvr);
    --key-del-reset-hvr: var(--clr-t2-key-hvr);
    --key-equal-toggle-hvr: var(--clr-t2-equal-tog-hvr);
    --toogle-bg: var(--clr-t2-tokp-bg);
    --toogle-checked: var(--clr-t2-key-tok-bg);
    --header-txt-clr: var(--clr-t2-text);
    --screen-txt-clr: var(--clr-t2-text);
    --clr-equal: var(--clr-white);

}

.theme3-clr{
    --bg: var(--clr-t3-bg);
    --scr-bg: var(--clr-t3-scr-bg);
    --key-equal: var(--clr-t3-key-tok-bg);
    --key-equal-sha: var(--clr-t3-key-tok-sha);
    --keypad-bg: var(--clr-t3-tokp-bg);
    --num-txt: var(--clr-t3-text);
    --key-bg-pri: var(--clr-t3-key-bg-pri);
    --key-bg-pri-sha: var(--clr-t3-key-bg-pri-sha);
    --key-del-reset: var(--clr-t3-key-bg);
    --key-del-reset-sha: var(--clr-t3-key-sha);
    --key-pri-hvr: var(--clr-t3-txt-hvr);
    --key-del-reset-hvr: var(--clr-t3-key-hvr);
    --key-equal-toggle-hvr: var(--clr-t3-equal-tog-hvr);
    --toogle-bg: var(--clr-t3-tokp-bg);
    --toogle-checked: var(--clr-t3-key-tok-bg);
    --header-txt-clr: var(--clr-t3-text);
    --screen-txt-clr: var(--clr-t3-text);
    --clr-equal: hsl(0, 0%, 0%);
}

.container{
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    margin-top: 2rem;
}

.keypad{
    margin-top: 1rem;
    background-color: var(--keypad-bg);
    padding: var(--pad-lr);
    border-radius: var(--brd-rad);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "seven eight nine del"
                        "four five six plus"
                        "one two three minus"
                        "dot zero div mul"
                        "reset reset eql eql";
}

@media (min-width: 50rem) {
    body{
        margin-top: 4rem;
    }
}

